* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

nav {
    height: 100px;
    background-color: #cde7d5;
}

.d-felx {
    display: flex;
}

.nav-logo-parent {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 350px;
}

.nav-logo {
    height: 70px;
    margin: 0 20px;
}

.menu-container {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu {
    font-size: 15px;
    font-weight: bolder;
    height: 30px;
    margin: 0px 25px;
    color: #717279;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: calc(100vh - 105px);
    background-image: url("../photos/slider/sd-1.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px 0;
}

.circel {
    border: solid black 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}

.bgBlack {
    background-color: rgb(184, 204, 167);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw 10vw;
}

.underline {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.section-title .first {
    width: 90px;
}

.section-title .second {
    width: 50px;
    align-self: center;
}

.section-title .third {
    width: 90px;
    align-self: flex-end;
}

.section-title:hover .first {
    align-self: center;
}

.section-title:hover .third {
    align-self: center;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.welcome-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 25vw;
    padding-left: 5vw;
}

.menu-item {
    padding: 10px 7px;
    border-left: 3px solid #717279;
    font-size: 20px;
    font-weight: 900;
    color: #717279;
}

.menu-item:hover {
    border-left: 3px solid red;
    color: red;
}

.active-menu {
    color: red;
    border-left: 3px solid red;
}

.diplayNone {
    display: none;
}

.product-higlight {
    display: flex;
    margin-top: 20px;
    width: 80vw;
    border: 2px solid black;
    height: 400px;
}

.product-slider {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}

.product-slider img {
    width: 100%;
    height: 100%;
}

.product-List {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-item {
    padding: 15px 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../photos/footer/footer-bg.png");
    background-color: #cdece1;
    padding: 100px 0;
    color: #cccccc;

}

.contact-section {
    display: flex;
    margin: 20px 0;
}

.contact-section .icon {
    margin: 5px 20px;
    font-size: 20px;
}

.contact-section .description {
    font-size: 13px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
}

.quick-link {
    font-weight: 900;
    padding: 10px;
    letter-spacing: 1px;
    display: flex;
}

.quick-link .icon {
    margin: 2px 5px;
    font-size: 15px;
}

.quick-link .description {
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
}


.footer .product .description {
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 10px 0px;
}