* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

nav {
    height: 100px;
    background-color: #cde7d5;
}

.d-felx {
    display: flex;
}

.nav-logo-parent {
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 350px;
}

.nav-logo {
    height: 70px;
    margin: 0 20px;
}

.menu-container {
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.menu {
    font-size: 15px;
    font-weight: bolder;
    height: 30px;
    margin: 0px 25px;
    color: #717279;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.slider {
    width: 100%;
    height: calc(100vh - 105px);
    background-image: url("../photos/slider/sd-1.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 5px 0;
}

.circel {
    border: solid black 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
}

.bgBlack {
    background-color: rgb(184, 204, 167);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw 10vw;
}

.underline {
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.section-title .first {
    width: 90px;
}

.section-title .second {
    width: 50px;
    align-self: center;
}

.section-title .third {
    width: 90px;
    align-self: flex-end;
}

.section-title:hover .first {
    align-self: center;
}

.section-title:hover .third {
    align-self: center;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.welcome-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 25vw;
    padding-left: 5vw;
}

.menu-item {
    padding: 10px 7px;
    border-left: 3px solid #717279;
    font-size: 20px;
    font-weight: 900;
    color: #717279;
}

.menu-item:hover {
    border-left: 3px solid red;
    color: red;
}

.active-menu {
    color: red;
    border-left: 3px solid red;
}

.diplayNone {
    display: none;
}

.product-higlight {
    display: flex;
    margin-top: 20px;
    width: 80vw;
    border: 2px solid black;
    height: 400px;
}

.product-slider {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}

.product-slider img {
    width: 100%;
    height: 100%;
}

.product-List {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-item {
    padding: 15px 15px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-image: url("../photos/footer/footer-bg.png");
    background-color: #cdece1;
    padding: 100px 0;
    color: #cccccc;

}

.contact-section {
    display: flex;
    margin: 20px 0;
}

.contact-section .icon {
    margin: 5px 20px;
    font-size: 20px;
}

.contact-section .description {
    font-size: 13px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
}

.quick-link {
    font-weight: 900;
    padding: 10px;
    letter-spacing: 1px;
    display: flex;
}

.quick-link .icon {
    margin: 2px 5px;
    font-size: 15px;
}

.quick-link .description {
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
}


.footer .product .description {
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

/* .content-holder {
    --doc-height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    clear: both;
    padding: 0 0 20px 0;
    font-size: 120%;
    background: #f5f5f5 !important;
    padding-bottom: 12px;
    padding-top: 24px;
}


.content_holder {
    font-size: 120%;
}

.sub_holder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;
}

.cd-timeline {
    overflow: hidden;
    margin: 2em auto;
}

.card {

    display: block;
    background: #fff;
    margin-bottom: 24px;
    text-decoration: none;
    box-shadow: 0 0 12px #ddd;
}

.card .card_contents {
    padding: 10px;
    position: relative;
}
@media only screen and (max-width: 959px) .submenu_holder {
    display: block;
}

.submenu_holder {
    display: flex;
    align-content: space-between;
    justify-content: center;
    padding: 24px !important;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
/* 
.product-List1 {
  display: flex;

} */

/* .vl {
    border-left: 6px solid #c7ceae;
    height: 1500px;
    position: relative;
    left: 50%;
    padding: 10px 10px;
} */

.product-main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-List1 {
    display: inline;
    margin: 25px;



    /* align-items: center;
    justify-content: center; */
}

.P-image1 {
    /* flex-direction: row-reverse; */
    padding-left: 30%;
}

.P-image2 {
    /* align-items: flex-end;
    flex-direction: row-reverse; */
    padding-left: 170%;
}

.P-image3 {
    padding-left: 30%;
}

.P-image4 {
    padding-left: 170%;
}

.P-image5 {
    padding-left: 30%;
}

.contact-section {
    position: relative;
    min-height: 1px;
    padding-left: 20%;
    padding-right: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p {
    display: block;
    align-items: center;
    justify-content: center;
}

.contact {
    background-color: #d5d8d8;
}

.section-title {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 20px;

}

.conh1 {
    text-align: center;
}

.contact-details {
    padding: 30px;
    margin: 20px 20px;
    text-align: center;
}

.icon-con {
    /* align-items: center;
    justify-content: center; */
    text-align: center;
}

.contact-form {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px 20px;
}

.msg {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
}

.row {
    padding: 20px 20px;
    padding-left: 20%;
    margin: 20px 20px;
    text-align: justify;
}


.col-lg-6 {
    display: block;
    padding: 10px;
}

.col-lg-12 {
    display: block;
    padding: 10px;
}